{% extends 'main/layout.html' %}
{% load static %}

{% block content %}

<div class="content ">
					<div class="container ">
        <div class=""><div class="container-spread__inner"><nav class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/">
								<span itemprop="name">Главная</span>
							</a>
							<meta itemprop="position" content="1" />
						</span><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="{% url 'hleb' %}">
								<span itemprop="name">Хлеб</span>
							</a>
							<meta itemprop="position" content="2" />
						</span></nav><div class="custom-h1">
		<div class="row align-items-center">
			<div class="col">
				<h1>Пекарня Хлеб 24</h1>
			</div></div></div></div>
			<div id="imageContainer">

							<div class="d-none">
</div></div><div class="catalog-sections matrix matrix--big row" style="">
                {% for el in product %}
				{% if el.categoty == "HL" %}
				<style>
.card {
  background-color: #fff;
}

.card {
	margin-left: auto;
	margin-rigth: auto;
	heigth: 500px;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
  color: orangered;
}
.card-img-top {
  max-height: 350px;
  object-fit: contain;
  min-height: 350px;

}
h6{font-style: italic;}
</style><div class="card" style=" height: 670px; width: 23rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto; padding: 10px;">
  <a class="menu"  >  <img src="{{ el.image.url }}" class="card-img-top" alt="barbecue" >
<div class="card-body" style="text-align: center;">
		<h4 style="">{{ el.title }}</h4>
	{% if el.descriptoin != "--" %}
		<h6 >{{ el.descriptoin }}</h6>
	{% endif %}
	{% if el.compound != "--" %}
		<h6 >{{ el.compound }}</h6>
	{% endif %}
  </div></a>
				<style>.bth:hover{
			background-color: orange;
		}
		.bth:active{
			background-color: orange;
		}
		.btn:focus{
			background-color: orange;
		}
		.btn {
  margin-top: auto;
}
</style>

	<form action="{% url 'cart:cart_add' product_id=el.id %}" method="post" class="form">
	<style>
	form{
		vertical-align: bottom;
position: absolute;
bottom: 20px;
	}
		#id_quantity{
			border-radius: 7px;
			width: 40px;
			text-align:center;
			border-color: orange;
			margin-left: auto;
			margin-right: auto;
		}
		select{
			margin-left: auto;
			margin-right: auto;
		}

	</style>
		{{ cart_product_form.quantity }}
		{% csrf_token %}
<button class="btn" style="border-radius: 22px; border-color: orangered; background: white; width: 200px; margin-left: 15px; margin-right: auto; padding: 5px; box-shadow: 0 8px 16px 0 rgba(255,117,20, 0.3);" >
		<div style="display: flex; margin: auto;">
		<span style="margin: auto; color: black; margin-right: 20px;">{{ el.cost }} ₽</span>
			<span style="margin: auto; color: orangered; margin-right: 3px;"> + </span>
		<img src="{% static 'main/img/backet.svg' %}" style="width: 33px;">
	</div>
	</button>
	</form>
</div>



  {% endif %}{% endfor %}
			</div></div></div></div>

{% endblock %}