{% extends 'main/layout.html' %}
{% load static %}

{% block content %}

<div class="content ">
					<div class="container ">
        <div class=""><div class="container-spread__inner"><nav class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/">
								<span itemprop="name">Главная</span>
							</a>
							<meta itemprop="position" content="1" />
						</span><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/accounts/login">
								<span itemprop="name">Авторизация</span>
							</a>
							<meta itemprop="position" content="2" />
						</span></nav><div class="custom-h1">
		<div class="row align-items-center">
			<div class="col">
				<h1>Пекарня Хлеб 24</h1>
			</div></div></div></div>
			</div>
                  <form method="post" style="border-radius: 15px; border-color: orangered; border-width: 1px;" >
                      <style>
                          .helptext{
                            display: none
                          }
                          #id_username, #id_password{
                            border-color: orangered;
                            border-radius: 7px;
                            height: 52px;

                          }
                          .regi{
                            border-color: orangered;
                            border-radius: 7px;
                            height: 52px;
                            background: none;
                            width: 150px
                          }
                          .form-label {
    display: inline-block;
    min-width: 200px;
    vertical-align: center;
    .form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}
}
                      </style>
                     {% csrf_token %}

					  <div class="form-error">{{ form.non_field_errors }}</div>
                      {% for f in form %}
<h4><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</h4>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
                      <button type="submit" class="regi" style="width: 170px; height: flex; display: inline-block;"><img src="{% static 'user\login.svg' %}" style="width: 30px; margin: 5px;">Войти</button>

                  </form>

						<h4>Если у вас нет аккаунта, то вы можете <a href="{% url 'register' %}">зарегестрироваться</a>.</h4>

                    </div></div>

{% endblock %}

