{% extends "main/layout.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container ">


<nav class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/">
								<span itemprop="name">Главная</span>
							</a>
							<meta itemprop="position" content="1" />
						</span><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/accounts/register">
								<span itemprop="name">О пекарне</span>
							</a>
							<meta itemprop="position" content="2" />
						</span></nav>

        <h2>О пекарне "Хлеб 24"</h2>
    <p>Если вы хотите вкусного и хрустящего горячего хлеба — приходите в пекарню «ХЛЕБ 24».  Мы ежедневно готовим свежую выпечку из качественного сырья. Закажите нашу продукцию на сайте или по телефону. Побалуйте своих домочадцев, гостей и близких. Это лучшее проявление заботы. Попробуйте наши торты. Мы будем рады вас видеть.

</p>

        <h2>Почему выбирают нас</h2>
<p>Весной 2019 мы начали печь хлеб в русской печи на дровах.  С тех пор мы не перестаем учится и совершенствовать свои навыки, расширять ассортимент производимой продукции, стараемся удивлять покупателей качеством своих изделий. «Хлеб 24» заботится не только о покупателях, но и о своих сотрудниках, создавая благоприятную рабочую атмосферу. Профессиональные пекари готовят качественные, оригинальные и вкусные изделия, приветливые продавцы помогут с выбором. Хотите перекусить — возьмите жаркое в керамическом горшке с мясом по вашему выбору Баловать детей лучше тортами. Все наши изделия не содержат химических заменителей и улучшителей.</p>
         </div></div>
{% endblock %}