{% extends 'main/layout.html' %}


{% block content %}
			<div class="content ">
					<div class="container ">
						<div class=""><div class="container-spread__inner"><nav class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/">
								<span itemprop="name">Главная</span>
							</a>
							<meta itemprop="position" content="1" />
						</span><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/catalog/">
								<span itemprop="name">Каталог</span>
							</a>
							<meta itemprop="position" content="2" />
						</span><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<span itemprop="item">
								<span itemprop="name">Пекарня Хлеб 24</span>
							</span>
							<meta itemprop="position" content="3" />
						</span></nav><div class="custom-h1">
		<div class="row align-items-center">
			<div class="col">
				<h1>Пекарня Хлеб 24</h1>
			</div></div></div></div><div class="d-none">
</div></div><div class="catalog-sections matrix matrix--big row"><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/torty-bocconto-1/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/78a/60dbdb55be76528eee026fd20b15dcb6/TORTY-BOKKONTO.webp?1622521330" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/78a/60dbdb55be76528eee026fd20b15dcb6/TORTY-BOKKONTO.png?1622442941">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Торты Bocconto"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/torty-bocconto-1/" class="section-tile__title">
							<span>Торты Bocconto</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/torty-pirozhnye-ponchiki/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/c31/60dbdb55be76528eee026fd20b15dcb6/torty-pirozhnye.webp?1601152742" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/c31/60dbdb55be76528eee026fd20b15dcb6/torty-pirozhnye.jpg?1579081178">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Торты, пирожные, десерты"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/torty-pirozhnye-ponchiki/" class="section-tile__title">
							<span>Торты, пирожные, десерты</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/pitstsa-4/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/4e7/60dbdb55be76528eee026fd20b15dcb6/Frame-28-_1_.webp?1674710186" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/4e7/60dbdb55be76528eee026fd20b15dcb6/Frame-28-_1_.png?1674625540">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Пицца"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/pitstsa-4/" class="section-tile__title">
							<span>Пицца</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/burgery-1/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/bbd/60dbdb55be76528eee026fd20b15dcb6/Burgery.webp?1674796768" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/bbd/60dbdb55be76528eee026fd20b15dcb6/Burgery.jpg?1674715290">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Бургеры"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/burgery-1/" class="section-tile__title">
							<span>Бургеры</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/shaurma-1/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/d36/60dbdb55be76528eee026fd20b15dcb6/shaurma.webp?1674796667" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/d36/60dbdb55be76528eee026fd20b15dcb6/shaurma.png?1674715291">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Шаурма"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/shaurma-1/" class="section-tile__title">
							<span>Шаурма</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/pirogi-bulochki-sloyki/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/cf9/60dbdb55be76528eee026fd20b15dcb6/Pirogi-i-bulochki.webp?1601152743" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/cf9/60dbdb55be76528eee026fd20b15dcb6/Pirogi-i-bulochki.jpg?1579081178">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Пироги, булочки, слойки"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/pirogi-bulochki-sloyki/" class="section-tile__title">
							<span>Пироги, булочки, слойки</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/maffiny-pechene-biskvity/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/fca/60dbdb55be76528eee026fd20b15dcb6/maffiny.webp?1601152747" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/fca/60dbdb55be76528eee026fd20b15dcb6/maffiny.jpg?1579081178">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Маффины, печенье, бисквиты"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/maffiny-pechene-biskvity/" class="section-tile__title">
							<span>Маффины, печенье, бисквиты</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/khleb-bagety-tandyr/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/4d6/60dbdb55be76528eee026fd20b15dcb6/khleb_-bagety.webp?1601152734" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/4d6/60dbdb55be76528eee026fd20b15dcb6/khleb_-bagety.jpg?1579081178">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Хлеб, багеты, тандыр"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/khleb-bagety-tandyr/" class="section-tile__title">
							<span>Хлеб, багеты, тандыр</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/pitstsa-okhlazhdennaya/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/8d1/60dbdb55be76528eee026fd20b15dcb6/pashtety-_1_.webp?1676438893" type="image/webp"><source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/8d1/60dbdb55be76528eee026fd20b15dcb6/pashtety-_1_.png?1676368816">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Пицца охлажденная"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/pitstsa-okhlazhdennaya/" class="section-tile__title">
							<span>Пицца охлажденная</span></a></div>
				</div>
			</div>
		</div><div class="matrix__item col-md-6 col-lg-4">
			<div class="section-tile js-section-tile">
				<a class="section-tile__head" href="/catalog/testo-pekarnya-spar/">
					<span class="ratio-box"><picture>
			<source srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-srcset="https://s.myspar.ru/upload/resize_cache/iblock/984/60dbdb55be76528eee026fd20b15dcb6/testo-_1_.png?1685626686">			<img
				class="lazyload img-fluid"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
				alt="Тесто"
							>
		</picture></span>
				</a>
				<div class="section-tile__footer js-links-block">
					<div class="section-tile__hover js-links-hover">
						<a href="/catalog/testo-pekarnya-spar/" class="section-tile__title">
							<span>Тесто</span></a></div>
				</div>
			</div>
		</div></div><div class="seo-block"><p>
	 Если вы хотите вкусного и хрустящего горячего хлеба — приходите в пекарню «ХЛЕБ 24».  Мы ежедневно готовим свежую выпечку из качественного сырья. Закажите нашу продукцию на сайте или по телефону. Побалуйте своих домочадцев, гостей и близких. Это лучшее проявление заботы. Попробуйте наши торты. Мы будем рады вас видеть.
</p>
<h2>
Что предлагает наша пекарня с доставкой</h2>
<p>
	 В наличии свежая выпечка на завтрак, для перекусов, повседневного и праздничного стола. У наших покупателей есть возможность заказать:
</p>
<ul>
	<li> <a href="/catalog/khleb-bagety-tandyr/">хлеб из пекарни</a> − в продаже хлеб и багеты, хлебобулочные изделия из пшеничной, кукурузной, ржаной муки, лепёшки из тандыра; </li>
	<li>
	пироги, булочки − делаются из дрожжевого и бездрожжевого, слоёного, сдобного теста, начинка может быть сладкой и солёной, для посыпки используется корица, сахарная пудра, семена кунжута и т. д.; </li>
	<li> <a href="/catalog/torty-pirozhnye-ponchiki/f/type-is-torty/">торты</a>, <a href="/catalog/torty-pirozhnye-ponchiki/f/type-is-pirozhnye/">пирожные</a>, десерты − наши повара пекут настоящие шедевры, сочетающие лёгкость, воздушность, ярко выраженный вкус и аромат, вызывающий непреодолимое желание сделать кофейную или чайную паузу; </li>
	<li> <a href="/catalog/maffiny-pechene-biskvity/f/type-is-maffiny/">маффины</a>, <a href="/catalog/maffiny-pechene-biskvity/f/type-is-pechene/">печенье</a>, <a href="/catalog/maffiny-pechene-biskvity/">бисквиты</a> − быстро утолят голод и дадут заряд бодрости, изделия небольшие, их удобно брать с собой для перекусов; </li>

</ul>
<p>
	 Три причины купить хлеб из пекарни и другие изделия в SPAR
</p>
<ol>
	<li>
	Большой выбор выпечки. Мы готовим хлебобулочные изделия по традиционным и собственным рецептам. В наличии русские пирожки, кавказские лепёшки, итальянская чиабатта, французские десерты, восточная шаурма и многое другое. </li>
	<li>
	Непревзойдённый вкус. Для выпекания изделий берутся качественные ингредиенты. Рецептура и технологии неукоснительно соблюдаются. Вам привозят свежую и ароматную выпечку, которая тает во рту. </li>
	<li>
	Быстрое реагирование на заказы. Вы можете получить хлеб, булки, пирожные в день обращения. При покупке оптом заявку нужно отправить нашим менеджерам заранее. Партия выпечки будет вовремя подготовлена и доставлена. </li>
</ol>
<p>
	 Цена товаров указана в карточках. Там же можно найти информацию о калорийности, содержании жиров, углеводов, белков в 100 г продукта. Чтобы купить свежий хлеб и другую выпечку, нужно сделать всего несколько кликов.
</p></div></div>
					</div></div>
{% endblock %}