{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
			<div class="content ">
					<div class="container ">
						<div class=""><div class="container-spread__inner"><nav class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList"><span class="breadcrumbs__item d-inline-flex" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" class="breadcrumbs__link" href="/">
								<span itemprop="name">Главная</span>
							</a>

						</span></nav><div class="custom-h1">
		<div class="row align-items-center">
			<div class="col">
				<h1>Пекарня Хлеб 24</h1>
			</div></div></div></div>
			<div id="imageContainer">

							<div class="d-none">
</div></div><div class="catalog-sections matrix matrix--big row"><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/mangal.webp' %}" class="card-img-top" alt="barbecue" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Блюда на мангале</h4>
  </div></a>
</div>
								<style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/bread.webp' %}" class="card-img-top" alt="bread" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Хлеб</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/cake.webp' %}" class="card-img-top" alt="cake" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Торты и пирожные</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/meat.webp' %}" class="card-img-top" alt="meat" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Пироги мясные</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/vegetable.webp' %}" class="card-img-top" alt="vegetable" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Пироги с овощной начинкой</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/meatin.webp' %}" class="card-img-top" alt="meatin" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Запекание мяса</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/bird.webp' %}" class="card-img-top" alt="bird" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Запекание птицы</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/fish.webp' %}" class="card-img-top" alt="fish" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Запекание рыбы</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/pot.webp' %}" class="card-img-top" alt="pot" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Жаркое с овощами</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/salad.webp' %}" class="card-img-top" alt="salad" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Салаты</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/croissant.webp' %}" class="card-img-top" alt="croissant" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Рогалики, булки и печенье</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/poppy.webp' %}" class="card-img-top" alt="poppy" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Изделия с маковой начинкой</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/hotcake.webp' %}" class="card-img-top" alt="hotcake" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Блины</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/dumplings.webp' %}" class="card-img-top" alt="dumplings" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Пельмени и вареники</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/milk0.webp' %}" class="card-img-top" alt="milk" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Молоко, масло, сметана и творог</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}"><img src="{% static 'main/img_for_home/honey.webp' %}" class="card-img-top" alt="honey" style="border-radius: 12px;"><div class="card-body" style="">
		<h4 style="">Мёд</h4>
  </div></a>
</div><style>
.card {
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

.card:hover a {
  color: orangered;
  text-decoration: none;
}

.card:hover a:hover {
  text-decoration: none;
}
</style><div class="card" style="width: 22rem; border: none; border-radius: 20px; margin-left: auto; margin-right: auto;">
  <a class="menu" href="{% url 'katalog' %}">  <img src="{% static 'main/img_for_home/hot_drink.webp' %}" class="card-img-top" alt="hot_drink" style="border-radius: 12px;">
<div class="card-body" style="">
		<h4 style="">Горячие напитки</h4>
  </div></a>
</div></div><div class="seo-block"><p>
	 Если вы хотите вкусного и хрустящего горячего хлеба — приходите в пекарню «ХЛЕБ 24».  Мы ежедневно готовим свежую выпечку из качественного сырья. Закажите нашу продукцию на сайте или по телефону. Побалуйте своих домочадцев, гостей и близких. Это лучшее проявление заботы. Попробуйте наши торты. Мы будем рады вас видеть.
</p>
<h2>
Что предлагает наша пекарня с доставкой</h2>
<p>
	 В наличии свежая выпечка на завтрак, для перекусов, повседневного и праздничного стола. У наших покупателей есть возможность заказать:
</p>
<ul>
	<li> <a href="/catalog/khleb-bagety-tandyr/">хлеб из пекарни</a> − в продаже хлеб и багеты, хлебобулочные изделия из пшеничной, кукурузной, ржаной муки, лепёшки из тандыра; </li>
	<li>
	пироги, булочки − делаются из дрожжевого и бездрожжевого, слоёного, сдобного теста, начинка может быть сладкой и солёной, для посыпки используется корица, сахарная пудра, семена кунжута и т. д.; </li>
	<li> <a href="/catalog/torty-pirozhnye-ponchiki/f/type-is-torty/">торты</a>, <a href="/catalog/torty-pirozhnye-ponchiki/f/type-is-pirozhnye/">пирожные</a>, десерты − наши повара пекут настоящие шедевры, сочетающие лёгкость, воздушность, ярко выраженный вкус и аромат, вызывающий непреодолимое желание сделать кофейную или чайную паузу; </li>
	<li> <a href="/catalog/maffiny-pechene-biskvity/f/type-is-maffiny/">маффины</a>, <a href="/catalog/maffiny-pechene-biskvity/f/type-is-pechene/">печенье</a>, <a href="/catalog/maffiny-pechene-biskvity/">бисквиты</a> − быстро утолят голод и дадут заряд бодрости, изделия небольшие, их удобно брать с собой для перекусов; </li>

</ul>
<p>
	 Три причины купить хлеб из пекарни и другие изделия в SPAR
</p>
<ol>
	<li>
	Большой выбор выпечки. Мы готовим хлебобулочные изделия по традиционным и собственным рецептам. В наличии русские пирожки, кавказские лепёшки, итальянская чиабатта, французские десерты, восточная шаурма и многое другое. </li>
	<li>
	Непревзойдённый вкус. Для выпекания изделий берутся качественные ингредиенты. Рецептура и технологии неукоснительно соблюдаются. Вам привозят свежую и ароматную выпечку, которая тает во рту. </li>
	<li>
	Быстрое реагирование на заказы. Вы можете получить хлеб, булки, пирожные в день обращения. При покупке оптом заявку нужно отправить нашим менеджерам заранее. Партия выпечки будет вовремя подготовлена и доставлена. </li>
</ol>
<p>
	 Цена товаров указана в карточках. Там же можно найти информацию о калорийности, содержании жиров, углеводов, белков в 100 г продукта. Чтобы купить свежий хлеб и другую выпечку, нужно сделать всего несколько кликов.
</p></div></div>
					</div></div>
{% endblock %}